# Virtual Environment
venv/
.venv/
env/

# Sensitive Session & Credentials
naukri_auth.json
.env
secret_for_github.txt
*.secret

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Playwright artifacts
test-results/
playwright-report/
